body {
    margin: 0;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: rgb(42, 42, 42);
    }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0 3em 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    color: red;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: whitesmoke;
}

.button {
    margin: 1rem 0;
    padding: 0.4em 1.2em;
    border-radius: 10px;
    border: 0;
    background-color: chocolate;
    font-weight: 700;
    font-size: 1.1em;
    color: whitesmoke;
    cursor: pointer;
}

.button:hover {
    background-color: #e49963;
}

.step, .messages {
    padding: 0.4em;
    margin-top: 0.625em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.messages {
    margin-bottom: 1em;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}