body {
    margin: 0;
    font-family: sans-serif;
    background-color: #FAF9F6;
}

.portfolio {
    padding: 0.5em;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  width: 350px;
  border-radius: 5px;
}

h1, h2 {
  margin: 0.2em 0;
}

label, .h-captcha, button {
  margin-top: 10px;
}

button {
  border: 0;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: rgb(222, 141, 199);
  color: white;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
}
button:hover {
  cursor: pointer;
  background-color: rgb(81, 81, 219);
}

button:hover {
  cursor: pointer;
  background-color: rgb(81, 81, 219);
  animation: ease-in 0.5s;
}

img {
    width: 100%;
    cursor: pointer;
}


/* RTX Switch CSS */
#rtx {
    position: relative;
    color: black;
    font-size: 1.25rem;
    text-align: right;
    padding-right: 20px;
    font-weight: 700;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px auto 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: greenyellow;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px greenyellow;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.blureffect {
  transition: filter 0.5s ease-in-out;
  filter: blur(100px);
}

.blureffect-off {
  transition: filter 0.5s ease-in-out;
  filter: blur(0px);
}


/* html { filter: url("#pixelate") }
svg { display: block } */

@media (min-width: 600px) {

    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }

}