body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(224, 224, 224);
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

img {
  transition: transform .2s;
  border-radius: 10px;
  margin: 10px;
}

img:hover {
  transform: scale(1.05);
}


.project:hover {
  cursor: pointer;
  
}

