body {
    margin: 0;
    font-family: sans-serif;
    background-color:rgb(17, 39, 23);
}

#gameboy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gameboy-frame {
  width: auto;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.green-filter {
  filter: grayscale(100%) sepia(100%) hue-rotate(70deg) saturate(125%);
  image-rendering: pixelated;
}

.pixelated-image {
  top: 100px;
  left: 179px;
  width: 280px;
  height: auto;
  position: absolute;
  z-index: 1;
}